include README.md
include requirements.txt
include pyproject.toml
include setup.py
include config/channel_maps.json
include tools/maxwell_hdf5_plugin/compression.dll

recursive-include src *.py

prune data
prune .github
prune .git
prune .pytest_cache
prune tests
prune docs
prune notebooks

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .DS_Store
